@page

<a
    class="btn btn-primary mr-2"
    href="/room/new">
    Create a room
</a>
<a
    class="btn btn-primary mr-2"
    href="/joinroom">
    Join a room
</a>
<a
    class="btn btn-danger mr-2"
    href="/session/logout">
    Logout
</a>

<div id="root"></div>

@section Scripts {
    <script src="~/dist/script-tester.js" asp-append-version="true"></script>
}
