@page

<a
    class="btn btn-primary mr-2"
    href="/room/new">
    Create a room
</a>
<a
    class="btn btn-primary mr-2"
    href="/joinroom">
    Join a room
</a>
<a
    class="btn btn-danger mr-2"
    href="/session/logout">
    Logout
</a>
<a
    class="btn btn-link"
    href="/scripttester">
    Script tester
</a>
