@page

<div>
    <p>Vous avez été déconnecté</p>
</div>
<div class="mt-2">
<a
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-2 rounded"
    href="/">
    Connexion
</a>
</div>
