@font-face {
  font-family: "capicon";
  src: url("/fonts/captainicon.woff") format("woff");
}

.capicon {
  font-family: "capicon";
}

.opacity-ease {
  transition: opacity 0.25s ease;
}

.size-ease {
  transition-property: width height;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn-animation {
  animation: fadeIn 2s;
}

@keyframes growIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.growIn-animation {
  animation: growIn 0.2s;
}

body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}

.grid-auto-columns {
  grid-auto-columns: minmax(0, 7rem);
  justify-items: center;
}

.Duck {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/Duck-nice.png");
}

.Flamingo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/Flamingo-nice.png");
}

.Magpie {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/Magpie-nice.png");
}

.Owl {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/Owl-nice.png");
}

.Parrot {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/Parrot-nice.png");
}

.ReedWarbler {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/ReedWarbler-nice.png");
}

.Robin {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/Robin-nice.png");
}

.Toucan {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/Toucan-nice.png");
}
